.comment {
  min-height: 30px;
  justify-content: space-between;
  display: flex;
  align-items: center;

  .info-section {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;


    .commentImg {
      max-width: 200px;
      max-height: 200px;
    }


  }

  .edit-section {
    float: right;
    display: flex;
    flex-direction: row;
  }


}

hr {
  background: var(--alpha-3);
  height: 1px;
  border: 0;
}

.child {
  //color: #1ea1f1;
  margin-left: 30px;
}