@import url(reset.css);

$logo-suit-margin: 1.6rem;

.headerContainer {
  width: 100%;
  background-color: var(--point-color);
  color: var(--body-background-color);
  display: flex;
  justify-content: center;
  height: 76px;
  align-items: center;
  border-bottom: 1px solid var(--point-shadow-color-50, rgb(14 122 128 / 50%));

  .headerContentsContainer {
    background-color: var(--point-color);
    color: var(--body-background-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--site-width);

    h1 {

      font-size: 1.5rem;
      font-weight: bold;
    }

    li {
      color: var(--body-background-color);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .headerLnCContainer {
    display: flex;
  }

  .headerCatecoryContainer {
    display: flex;
    padding-left: 1rem;
    gap: var(--banner-gap);
    align-items: center;
    //margin-top: $logo-suit-margin;
  }

  .headerRegisterContainer {
    display: flex;
    gap: var(--banner-gap);
    //margin-top: 1rem;

    p {
      background-color: #cdecee1a;
      //padding: 1rem;
      border-radius: 20px;
      //margin-bottom: 0.8rem;

    }
  }
}
