:root{
    --font-family: "pretendard variable", pretendard, "sf pro kr", "sf pro text", "sf pro icons","apple sd gothic neo", -apple-system, blinkmacsystemfont, roboto, "noto sans kr", "segoe ui", "malgun gothic", "apple color emoji", "segoe ui emoji", "segoe ui symbol", sans-serif;
    --font-family-content: "sf pro kr", "sf pro text", "sf pro icons", "apple sd gothic neo", -apple-system, blinkmacsystemfont, system-ui, roboto, "helvetica neue", "segoe ui", "noto sans kr", "malgun gothic", "apple color emoji", "segoe ui emoji", "segoe ui symbol", sans-serif;
    --body-font-color: #000000;
    --body-background-color: #FFFFFFFF;
    --body-background-color-50: #FFFFFF80;
    --header-font-color: #FFF;
    --header-background-color: var(--point-color);
    --point-color: #1CA8AF;
    --point-background-color: #1CA8AF;
    --point-background-color-10: #1CA8AF1a;
    --point-background-color-20: #1CA8AF33;
    --point-background-color-80: #1CA8AFc8;
    --point-background-color-90: #1CA8AFe6;
    --point-shadow-color: #0E7A80;
    --point-shadow-color-30: #0E7A8033;
    --point-shadow-color-50: #0E7A8080
}
:root{
    --site-width: 1060px;
    --banner-gap: 24px;
    --banner-mobile-gap: 16px
}
